Repository janus-llm/janus-llm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, isort, coverage, test-pages, test-release

.gitlab-ci.yml:

image: "python:3.10"

before_script:
  - python --version
  - curl -sSkL https://install.python-poetry.org | python -
  - export PATH=$PATH:$HOME/.local/bin
  - poetry --version
  - DEBIAN_FRONTEND=noninteractive apt update
  - DEBIAN_FRONTEND=noninteractive apt -y install libgl1-mesa-dev

.install_dev:
  script:
    - poetry install --without docs

stages:
  - Static Analysis
  - Documentation
  - Release
  - Tests

###################
# Static Analysis #
###################
flake8:
  stage: Static Analysis
  tags:
    - lslab
  script:
    - poetry install --only dev
    - poetry run flake8 --config=.flake8 .
  needs: []
  only:
    refs:
      - merge_requests
    changes:
      - "**/*.py"
      - poetry.lock
      - .flake8

black:
  stage: Static Analysis
  tags:
    - lslab
  script:
    - poetry install --only dev
    - poetry run black --check ./
  needs: []
  only:
    refs:
      - merge_requests
    changes:
      - "**/*.py"
      - poetry.lock

isort:
  stage: Static Analysis
  tags:
    - lslab
  script:
    - poetry install --only dev
    - poetry run isort --check --trailing-comma -m=3 .
  needs: []
  only:
    refs:
      - merge_requests
    changes:
      - "**/*.py"
      - poetry.lock

##############
# Unit Tests #
##############
coverage:
  stage: Tests
  tags:
  - lslab
  script:
    - poetry install --with coverage
    - poetry run python -m coverage run -m pytest janus
    - poetry run python -m coverage report -i
    - poetry run python -m coverage xml -i
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs: []
  timeout: 20m
  only:
    refs:
      - merge_requests
      - main
    changes:
      - "**/*.py"
      - poetry.lock


################
# GitLab Pages #
################
.pages:
  script:
    - poetry install --only docs
    - poetry run sphinx-build -d docs/build/doctrees docs/source docs/build/html
    - mv docs/build/html public/

test-pages:
  stage: Documentation
  tags:
    - lslab
  extends: .pages
  needs: []
  artifacts:
    expose_as: 'HTML Documentation'
    paths:
      - public/
    expire_in: 1 week
  only:
    refs:
      - merge_requests
    changes:
      - "**/*.py"
      - docs/**/*
      - poetry.lock

pages:
  stage: Documentation
  tags:
    - lslab
  extends: .pages
  artifacts:
    paths:
      - public
  only:
    - tags

###########################
# Packaging and Releasing #
###########################
.check_version_and_commit:
  script:
    - POETRY_VERSION=$(poetry version -s)
    - >
      if [ $POETRY_VERSION != $CI_COMMIT_TAG ]; then
        VERSION=$CI_COMMIT_TAG
        poetry version $VERSION
        git remote remove origin
        git remote add origin https://oauth2:${CI_TAG_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git
        git config --global user.email "janus-ci-bot@mitre.org"
        git config --global user.name "Janus CI Bot"
        git add pyproject.toml
        git commit -m "Change pyproject.toml version to $VERSION"
        git push -o ci.skip origin HEAD:main
      fi

test-release:
  stage: Release
  tags:
    - lslab
  script:
    - poetry build
    - poetry run pip install -U dist/*.whl
    # Remove the directory so that it's not using the directory to run the code and it uses the installed package
    - rm -rf janus
    - poetry run python tests/package.py
  needs: []
  only:
    refs:
      - merge_requests
    changes:
      - "**/*.py"
      - poetry.lock

release-artifactory:
  stage: Release
  tags:
    - lslab
  script:
    - !reference [.check_version_and_commit, script]
    - poetry build
    - poetry config repositories.mitre-artifactory https://artifacts.mitre.org/artifactory/api/pypi/python
    - poetry publish --repository mitre-artifactory -u janus-ci-bot -p ${CI_ARTIFACTORY_TOKEN}
  only:
    - tags

fixed final remaining error
  janus/cli.py
Due: flake8, black, isort, coverage, test-pages, test-release

Add sphinx auto-build
  poetry.lock
  pyproject.toml
Due: flake8, black, isort, coverage, test-pages, test-release

Update README with badges and roadmap
  README.md
Due: none

Add workflow_dispatch to both workflows
  .github/workflows/pages.yml
  .github/workflows/publish.yml
Due: none

Update docs
  docs/source/contributing.md
  docs/source/index.rst
  docs/source/intro.md
  docs/source/quickstart.md
  docs/source/reading_binaries.md
  docs/source/supported_languages.md
Due: test-pages

Update collections to include date and time created
  janus/embedding/collections.py
  janus/embedding/vectorize.py
Due: flake8, black, isort, coverage, test-pages, test-release

Update cli.py with rich.print and help commands
  janus/cli.py
Due: flake8, black, isort, coverage, test-pages, test-release

Update docs/source/quickstart.md
  docs/source/conf.py
  docs/source/quickstart.md
  poetry.lock
  pyproject.toml
Due: flake8, black, isort, coverage, test-pages, test-release

Update reading_binaries documentation
  docs/source/reading_binaries.md
  janus/language/binary/_tests/hello.bin
Due: test-pages

Update multiple documentation pages
  docs/source/reading_binaries.md
  docs/source/supported_languages.md
  docs/source/translating.md
Due: test-pages

Update janus translate help documentation
  janus/cli.py
Due: flake8, black, isort, coverage, test-pages, test-release

Update date_created to date_updated in collection meta
  janus/embedding/collections.py
Due: flake8, black, isort, coverage, test-pages, test-release

Fix missing _ in self._splitter
  janus/converter.py
Due: flake8, black, isort, coverage, test-pages, test-release

Use same UUID method for generating IDs during translate
  janus/translate.py
Due: flake8, black, isort, coverage, test-pages, test-release

Update UUID generation based on text of input code
  janus/embedding/vectorize.py
Due: flake8, black, isort, coverage, test-pages, test-release

Update tests and times to pass for create_collection
  janus/embedding/_tests/test_collections.py
  janus/embedding/_tests/test_vectorize.py
  janus/embedding/collections.py
Due: flake8, black, isort, coverage, test-pages, test-release

Update quickstart.md
  docs/source/quickstart.md
Due: test-pages

Change type to model_type in llm_add
  janus/cli.py
Due: flake8, black, isort, coverage, test-pages, test-release

Deploying to gh-pages from @ janus-llm/janus-llm@96d45d5b90e2fe18a1e5ea4c3155fead8b8d0428 🚀
  _sources/autoapi/janus/cli/index.rst.txt
  _sources/autoapi/janus/llm/models_info/index.rst.txt
  _sources/autoapi/janus/translate/index.rst.txt
  autoapi/janus/cli/index.html
  autoapi/janus/llm/models_info/index.html
  autoapi/janus/translate/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Update documentation for LLM add
  docs/source/translating.md
  janus/cli.py
Due: flake8, black, isort, coverage, test-pages, test-release

Update for pre-commit fixes
  README.md
  docs/source/quickstart.md
  docs/source/reading_binaries.md
  janus/translate.py
Due: flake8, black, isort, coverage, test-pages, test-release

Update sphinx-autoapi to 3.0.0
  poetry.lock
  pyproject.toml
Due: flake8, black, isort, coverage, test-pages, test-release

Update version to 1.0.0
  CITATION.cff
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, coverage, test-pages, test-release

Remove mention of MITRE internal models
  janus/llm/models_info.py
Due: flake8, black, isort, coverage, test-pages, test-release

Update README with Copyright
  README.md
Due: none

Add README.md to test-pages job
  .gitlab-ci.yml
Due: none

Feature/output embedding
  janus/cli.py
  janus/embedding/_tests/test_vectorize.py
  janus/embedding/vectorize.py
  janus/language/block.py
  janus/language/splitter.py
  janus/translate.py
Due: flake8, black, isort, coverage, test-pages, test-release

Deploying to gh-pages from @ janus-llm/janus-llm@83f0c2675fdcafd114f236a1766537db71288a03 🚀
  _sources/autoapi/janus/embedding/vectorize/index.rst.txt
  _sources/autoapi/janus/language/splitter/index.rst.txt
  _sources/autoapi/janus/translate/index.rst.txt
  autoapi/janus/embedding/vectorize/index.html
  autoapi/janus/language/block/index.html
  autoapi/janus/language/splitter/index.html
  autoapi/janus/translate/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Add ibmhlasm to available languages and create tree_sitter test
  janus/language/treesitter/_tests/languages/ibmhlasm.asm
  janus/language/treesitter/_tests/test_treesitter.py
  janus/utils/enums.py
Due: flake8, black, isort, coverage, test-pages, test-release

Protected node types, documentation CLI endpoint
  janus/cli.py
  janus/embedding/vectorize.py
  janus/language/block.py
  janus/language/mumps/mumps.py
  janus/language/splitter.py
  janus/language/treesitter/treesitter.py
  janus/translate.py
Due: flake8, black, isort, coverage, test-pages, test-release

Add logging info for files globbed
  janus/cli.py
  janus/translate.py
Due: flake8, black, isort, coverage, test-pages, test-release

Change pages.yml workflow branch to public
  .github/workflows/pages.yml
Due: none

Update GitLab CI with Dummy CI Job
  .gitlab-ci.yml
Due: none

Add comments to MUMPS AST
  janus/language/mumps/mumps.py
  janus/language/splitter.py
Due: flake8, black, isort, coverage, test-pages, test-release

Fix bug with merging nodes adjacent to protected ones
  janus/language/splitter.py
Due: flake8, black, isort, coverage, test-pages, test-release

Remove placeholder logic; support pruning nodes
  janus/cli.py
  janus/converter.py
  janus/language/binary/binary.py
  janus/language/block.py
  janus/language/combine.py
  janus/language/mumps/mumps.py
  janus/language/splitter.py
  janus/language/treesitter/_tests/test_treesitter.py
  janus/language/treesitter/treesitter.py
  janus/parsers/code_parser.py
  janus/translate.py
  janus/utils/enums.py
Due: flake8, black, isort, coverage, test-pages, test-release

New documentation prompting
  janus/prompts/templates/document/human.txt
  janus/prompts/templates/document/system.txt
Due: none

Bugfix: remove last reference to placeholder logic
  janus/translate.py
Due: flake8, black, isort, coverage, test-pages, test-release

Bugfix: single quotes are not quote characters in MUMPS
  janus/language/mumps/mumps.py
Due: flake8, black, isort, coverage, test-pages, test-release
