Repository janus-llm/janus-llm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Path conditions:
  flake8: any of: **/*.py, poetry.lock, .flake8
  black: any of: **/*.py, poetry.lock
  isort: any of: **/*.py, poetry.lock
  bandit: any of: **/*.py, poetry.lock
  coverage: any of: **/*.py, poetry.lock
  test-pages: any of: **/*.py, docs/**/*, poetry.lock, pyproject.toml, README.md
  test-release: any of: **/*.py, poetry.lock, pyproject.toml
  dummy-job: any of: .github/workflows/**/*, .gitlab-ci.yml, janus/prompts/templates/**/*, **/*.md

added new refiners and additional fix connections prompt
  janus/prompts/templates/refinement/uml/fix_connections/human.txt
  janus/prompts/templates/refinement/uml/fix_connections/system.txt
  janus/refiners/uml.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

added missing prompt text
  janus/prompts/templates/refinement/uml/fix_connections/system.txt
Due: dummy-job

added comment to refiner chain in converter
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

updated comment
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

changed reflection parser to use regex
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fixed typo
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Use raw string literal for regex
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

linter
  janus/cli.py
  janus/converter/evaluate.py
  janus/converter/evaluators/commentEval.py
  janus/converter/evaluators/inlineCommentEval.py
  janus/converter/evaluators/requirementEval.py
  janus/parsers/eval_parsers/comment_parser.py
  janus/parsers/eval_parsers/incose_parser.py
  janus/parsers/eval_parsers/inline_comment_parser.py
  janus/prompts/templates/eval_prompts/inline_comments/human.txt
  janus/prompts/templates/eval_prompts/inline_comments/variables.json
  scripts/evaluator_scripts/incose_requirement_evaluations/incose_scripts/requirement_splitter.py
  scripts/evaluator_scripts/incose_requirement_evaluations/incose_scripts/splitter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

addressed comments and linting
  janus/_tests/evaluator_tests/EvalReadMe.md
  janus/cli.py
  janus/converter/evaluate.py
  janus/converter/evaluators/commentEval.py
  janus/converter/evaluators/inlineCommentEval.py
  janus/converter/evaluators/requirementEval.py
  janus/metrics/llm_metrics.py
  janus/prompts/templates/eval_prompts/comments/human.txt
  janus/prompts/templates/eval_prompts/comments/system.txt
  janus/prompts/templates/eval_prompts/comments/variables.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

addressed comments
  janus/_tests/evaluator_tests/EvalReadMe.md
  janus/converter/evaluate.py
  janus/parsers/eval_parsers/comment_parser.py
  janus/parsers/eval_parsers/incose_parser.py
  janus/parsers/eval_parsers/inline_comment_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

updated prompt name per request
  janus/prompts/templates/refinement/uml/alc_fix_variables/human.txt
  janus/prompts/templates/refinement/uml/alc_fix_variables/system.txt
  janus/refiners/uml.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Add refiner types argument for partitioner
  janus/cli.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Convert refiner type keys to classes
  janus/cli.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix static tests and relative imports
  janus/_tests/evaluator_tests/EvalReadMe.md
  janus/_tests/evaluator_tests/incose_tests/incose_large_test.json
  janus/_tests/evaluator_tests/incose_tests/incose_small_test.json
  janus/_tests/evaluator_tests/inline_comment_tests/inline_comment_test.m
  janus/cli.py
  janus/metrics/llm_metrics.py
  janus/parsers/eval_parsers/incose_parser.py
  janus/parsers/eval_parsers/inline_comment_parser.py
  janus/prompts/templates/eval_prompts/incose/human.txt
  janus/prompts/templates/eval_prompts/inline_comments/human.txt
  scripts/evaluator_scripts/incose_requirement_evaluations/incose_scripts/requirement_splitter.py
  scripts/evaluator_scripts/incose_requirement_evaluations/incose_scripts/splitter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Fix relative imports
  janus/parsers/eval_parsers/inline_comment_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add Language Documentation Retriever
  .gitignore
  janus/cli.py
  janus/converter/converter.py
  janus/prompts/templates/retrieval/language_docs/human.txt
  janus/prompts/templates/retrieval/language_docs/system.txt
  janus/retrievers/retriever.py
  janus/utils/pdf_docs_reader.py
  poetry.lock
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Bump version to 4.2.0
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add simple retry refiner, support refinement for partitioners on the command line
  janus/parsers/partition_parser.py
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update prompt to discourage text outside of the JSON object
  janus/prompts/templates/partition/human.txt
Due: dummy-job

Major bugfixes
  janus/cli.py
  janus/converter/evaluate.py
  janus/parsers/eval_parsers/inline_comment_parser.py
  janus/prompts/templates/eval_prompts/inline_comments/variables.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Update the prompt
  janus/parsers/eval_parsers/inline_comment_parser.py
  janus/prompts/templates/eval_prompts/inline_comments/human.txt
  janus/prompts/templates/eval_prompts/inline_comments/system.txt
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Request that the LLM be a harder grader for inline comments
  janus/prompts/templates/eval_prompts/inline_comments/human.txt
Due: dummy-job

Strip extraneous text before/after the JSON object
  janus/parsers/partition_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix requirements eval
  janus/converter/evaluate.py
  janus/parsers/eval_parsers/incose_parser.py
  janus/prompts/templates/eval_prompts/incose/human.txt
  janus/prompts/templates/eval_prompts/incose/variables.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Fix inline eval
  janus/converter/evaluate.py
  janus/parsers/eval_parsers/inline_comment_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added log file and changed log level in reflection refiner
  janus/refiners/refiner.py
  janus/utils/logger.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fixed issue with handlers+filename argument
  janus/utils/logger.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update publish.yml to only publish on public
  .github/workflows/publish.yml
Due: dummy-job

Bump version to 4.2.1
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add max token limit to self-eval command
  janus/cli.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add preprocessing scripts
  scripts/preprocessing/self-eval/inline_comments.py
  scripts/preprocessing/self-eval/requirements.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Rename <MODULE> tags to <BLOCK_COMMENT>
  scripts/preprocessing/self-eval/inline_comments.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Log longer path, add params to Azure model init
  janus/converter/converter.py
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix bugs related to merge (overestimating chunk sizes) and line splitting (mishandling of whitespace prefixes)
  janus/language/splitter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Prevent ALC nodes from being their own children and creating infinite loops
  janus/language/alc/alc.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Patch security tests (remove asseert)
  janus/parsers/eval_parsers/incose_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

More clearly document the merge algorithm
  janus/language/splitter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release
