Repository janus-llm/janus-llm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Path conditions:
  flake8: any of: **/*.py, poetry.lock, .flake8
  black: any of: **/*.py, poetry.lock
  isort: any of: **/*.py, poetry.lock
  bandit: any of: **/*.py, poetry.lock
  coverage: any of: **/*.py, poetry.lock
  test-pages: any of: **/*.py, docs/**/*, poetry.lock, pyproject.toml, README.md
  test-release: any of: **/*.py, poetry.lock, pyproject.toml
  dummy-job: any of: .github/workflows/**/*, .gitlab-ci.yml, janus/prompts/templates/**/*, **/*.md

Update tree-sitter-cli version to 0.20.8 in coverage job
  .gitlab-ci.yml
Due: dummy-job

Update Node.js installation and downgrade tree-sitter-cli to 0.20.8 in CI
  .gitlab-ci.yml
Due: dummy-job

Refine Node.js and tree-sitter-cli installation steps in CI for ABI 14 compatibility
  .gitlab-ci.yml
Due: dummy-job

Add SSL certificate variables to test-release job in CI
  .gitlab-ci.yml
Due: dummy-job

Upgrade to the newest version of tree-sitter
  .gitlab-ci.yml
  README.md
  docs/source/quickstart.md
  janus/language/binary/binary.py
  janus/language/treesitter/treesitter.py
  poetry.lock
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Consolidate SSL certificate variables in CI configuration
  .gitlab-ci.yml
Due: dummy-job

Add security skips for Bandit in pyproject.toml
  janus/language/treesitter/treesitter.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Install Node.js and tree-sitter-cli in jobs instead of before_script so not all jobs need to install build-essential, etc.
  .gitlab-ci.yml
Due: dummy-job

Check input keys against expected prompt fields
  janus/converter/merge.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update tree-sitter-cli installation and dependency version in CI configuration
  .gitlab-ci.yml
  poetry.lock
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Update tree-sitter-cli installation to version 0.24.0 in CI configuration
  .gitlab-ci.yml
Due: dummy-job

Bump version to 4.7.0
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Enforce one Converter, one prompt
  janus/cli/translate.py
  janus/converter/_tests/test_converter.py
  janus/converter/_tests/test_translate.py
  janus/converter/converter.py
  janus/converter/diagram.py
  janus/converter/document.py
  janus/converter/evaluate.py
  janus/converter/partition.py
  janus/converter/requirements.py
  janus/converter/translate.py
  pipelines/comment_eval_translation.json
  pipelines/multi_ir_eval_translation.json
  pipelines/outputmerger_translation_test.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Use mixin class to implement MergedOutputConverter child classes; support document->diagram pipeline
  janus/converter/__init__.py
  janus/converter/diagram.py
  janus/converter/merge.py
  janus/converter/translate.py
  janus/prompts/templates/diagram_with_documentation/human.txt
  pipelines/diagram.json
  pipelines/document_diagram.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Remove references to plural prompt_templates
  janus/converter/evaluate.py
  pipelines/roundtrip_matrix.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix imports in test files
  janus/converter/_tests/test_translate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix chain step path
  janus/converter/_tests/test_converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add quiz format refiner that runs if the parser fails
  janus/parsers/quiz_taker_parser.py
  janus/prompts/templates/refinement/format/quiz_format/human.txt
  janus/prompts/templates/refinement/format/quiz_format/system.txt
  janus/refiners/format.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Update documentation for pipelines
  docs/source/pipelines.md
  pipelines/doc_req_src_translation.json
  pipelines/multi_ir_eval_translation.json
  pipelines/requirement_translation_eval.json
  pipelines/translate.json
Due: test-pages, dummy-job

Remove refiners from mergers
  docs/source/pipelines.md
  pipelines/doc_req_src_translation.json
  pipelines/document_diagram.json
Due: test-pages, dummy-job

Add generic evaluator and JSON parser
  janus/converter/__init__.py
  janus/converter/evaluate.py
  janus/parsers/eval_parsers/generic_parser.py
  janus/parsers/parser.py
  pipelines/multi_ir_eval.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add pipeline stage logging
  janus/converter/chain.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update docs
  README.md
  docs/source/janus_json.md
  docs/source/quickstart.md
Due: test-pages, dummy-job

Bump version to 5.0.0
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added ability to only translate one file
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

updated unit tests
  janus/converter/_tests/test_translate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fixed issue with unit test
  janus/converter/_tests/test_translate.py
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

updated documentation and help strings
  docs/source/translating.md
  janus/cli/diagram.py
  janus/cli/document.py
  janus/cli/partition.py
  janus/cli/pipeline.py
  janus/cli/self_eval.py
  janus/cli/translate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

hopefully fixed tests
  janus/_tests/test_cli.py
  janus/cli/pipeline.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add regex-based ALC splitter
  janus/language/alc/__init__.py
  janus/language/alc/alc.py
  janus/language/block.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Changes to support Walmart ALC; Don't start control sections with the first line of a file if the first non-comment line begins a DSECT
  janus/language/alc/alc.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix pipelines, add refiner for quiz gen.
  janus/converter/__init__.py
  janus/converter/quiz_generator.py
  janus/converter/quiz_taker.py
  janus/parsers/quiz_taker_parser.py
  janus/prompts/templates/quiz/quiz_taker/human.txt
  janus/prompts/templates/refinement/format/quiz_gen_format/human.txt
  janus/prompts/templates/refinement/format/quiz_gen_format/system.txt
  janus/prompts/templates/refinement/format/quiz_taker_format/human.txt
  janus/prompts/templates/refinement/format/quiz_taker_format/system.txt
  janus/refiners/format.py
  pipelines/quiz.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Fix for EOFs not on their own line
  janus/language/alc/alc.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

precommit cleanup
  janus/cli/cli.py
  janus/cli/quiz.py
  janus/cli/quiz_taker.py
  janus/converter/__init__.py
  janus/converter/quiz_generator.py
  janus/converter/quiz_taker.py
  janus/parsers/quiz_gen_parser.py
  janus/parsers/quiz_taker_parser.py
  janus/prompts/templates/eval_prompts/pseudocode/human.txt
  janus/prompts/templates/pseudocode_to_java/system.txt
  janus/prompts/templates/quiz/quiz_generator/system.txt
  janus/prompts/templates/quiz/quiz_taker/human.txt
  janus/prompts/templates/quiz/quiz_taker/system.txt
  janus/prompts/templates/refinement/format/quiz_gen_format/human.txt
  janus/prompts/templates/refinement/format/quiz_taker_format/human.txt
  janus/refiners/format.py
  pipelines/quiz.json
  scripts/quiz_grade.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

added ability to have individual output files and failure files, as well as other minor bug fixes
  janus/cli/diagram.py
  janus/cli/document.py
  janus/cli/partition.py
  janus/cli/pipeline.py
  janus/cli/self_eval.py
  janus/cli/translate.py
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fixed tests
  janus/_tests/test_cli.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Retain accurate boundary locations in ALC chunks
  janus/language/alc/alc.py
  janus/language/block.py
  janus/language/splitter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix character counting arithmetic
  janus/language/alc/alc.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added prompts
  .gitignore
  janus/prompts/templates/source_and_diagrams_to_java/human.txt
  janus/prompts/templates/source_and_diagrams_to_java/system.txt
  janus/prompts/templates/source_and_four_irs_to_java/human.txt
  janus/prompts/templates/source_and_four_irs_to_java/system.txt
  janus/prompts/templates/source_and_pseudocode_to_java/human.txt
  janus/prompts/templates/source_and_pseudocode_to_java/system.txt
  janus/prompts/templates/source_and_requriements_to_java/human.txt
  janus/prompts/templates/source_and_requriements_to_java/system.txt
  janus/prompts/templates/source_and_summary_to_java/human.txt
  janus/prompts/templates/source_and_summary_to_java/system.txt
Due: dummy-job

fixed spelling
  janus/prompts/templates/source_and_diagrams_to_java/human.txt
Due: dummy-job
