Repository janus-llm/janus-llm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

flake8:
  stage: Static Analysis
  tags:
  - docker
  script:
  - poetry install --only dev
  - poetry run flake8 --config=.flake8 .
  needs: []

black:
  stage: Static Analysis
  tags:
  - docker
  script:
  - poetry install --only dev
  - poetry run black --check --config pyproject.toml ./
  needs: []

isort:
  stage: Static Analysis
  tags:
  - docker
  script:
  - poetry install --only dev
  - poetry run isort --check --profile black --trailing-comma -m=3 .
  needs: []

bandit:
  stage: Security
  tags:
  - docker
  script:
  - poetry install --only dev
  - poetry run bandit -c pyproject.toml -r .
  needs: []

coverage:
  stage: Tests
  tags:
  - docker
  variables:
    GIT_SSL_NO_VERIFY: '1'
    REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
    SSL_CERT_FILE: /etc/ssl/certs/ca-certificates.crt
    NODE_EXTRA_CA_CERTS: /etc/ssl/certs/ca-certificates.crt
  script:
  - poetry install --with coverage --all-extras
  ...

test-pages:
  script:
  - poetry install --only docs
  - poetry run sphinx-build -d docs/build/doctrees docs/source docs/build/html
  - mv docs/build/html public/
  stage: Documentation
  tags:
  - docker
  needs: []
  artifacts:
    expose_as: HTML Documentation
    paths:
    - public/
    expire_in: 1 week

test-release:
  stage: Release
  tags:
  - docker
  script:
  - poetry build
  - poetry run pip install -U dist/*.whl
  - rm -rf janus
  - poetry run python tests/package.py
  needs: []

dummy-job:
  stage: Dummy
  tags:
  - docker
  script:
  - echo "Dummy CI Job"
  needs: []

Add context placeholder to requirements prompt
  janus/prompts/templates/requirements/human.txt
Due: dummy-job

Remove metric script
  scripts/llm_partition_metric.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update prompt to warning message for using OpenAI models
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 3.5.3
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

(WIP) Update partition prompting
  janus/prompts/templates/partition/human.txt
  janus/prompts/templates/partition/system.txt
  janus/prompts/templates/partition/variables.json
Due: dummy-job

Move refinement to its own file, use prompt engines
  janus/converter/converter.py
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Make Refiners their own thing
  janus/cli.py
  janus/converter/converter.py
  janus/llm/model_callbacks.py
  janus/llm/models_info.py
  janus/parsers/refiner_parser.py
  janus/prompts/templates/refinement/fix_exceptions/human.txt
  janus/prompts/templates/refinement/fix_exceptions/system.txt
  janus/prompts/templates/refinement/hallucination/human.txt
  janus/prompts/templates/refinement/hallucination/system.txt
  janus/prompts/templates/refinement/reflection/human.txt
  janus/prompts/templates/refinement/reflection/system.txt
  janus/prompts/templates/refinement/revision/human.txt
  janus/prompts/templates/refinement/revision/system.txt
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Print original completion in addition to reflection text
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix tests, remove references to BaseLanguageModel
  janus/converter/translate.py
  janus/language/alc/alc.py
  janus/language/binary/_tests/test_binary.py
  janus/language/binary/binary.py
  janus/language/mumps/mumps.py
  janus/language/splitter.py
  janus/language/treesitter/treesitter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix load_model in tests
  janus/language/alc/_tests/test_alc.py
  janus/language/mumps/_tests/test_mumps.py
  janus/language/treesitter/_tests/test_treesitter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added code to fix bedrock models
  janus/converter/converter.py
  janus/converter/translate.py
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix UML parsing logic
  janus/cli.py
  janus/parsers/uml.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update CI to install plantuml
  .gitlab-ci.yml
Due: dummy-job

Add java and graphviz plantuml dependencies
  .gitlab-ci.yml
Due: dummy-job

Remove timeout on coverage job
  .gitlab-ci.yml
Due: dummy-job

Get Azure models working (MChat)
  janus/cli.py
  janus/llm/model_callbacks.py
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Comment out openai model info
  janus/cli.py
  janus/converter/_tests/test_translate.py
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Remove 20m timeout from CI
  .gitlab-ci.yml
Due: dummy-job

Update metric.py for JanusModel load_model return
  .flake8
  janus/metrics/metric.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.0.0
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Change typing for Callable
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Remove default for azure_endpoint variable
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.1.0
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

changed reflection to use short model id
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update requirements prompt
  janus/prompts/templates/requirements/human.txt
Due: dummy-job

[WIP] updated converter to take a list of refiner types and chain them
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Same bugfix, but for parser refiner
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

updated CLI to use new code
  janus/cli.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

final changes to get multiple refiners running
  janus/converter/converter.py
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fixed issue with updated chain
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fixed reflection refiner issue
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fixed issue with parser at end of refinement chain
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added a refiner for finding uml without referencing variables
  janus/cli.py
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

updated new fix variables refinement prompt
  janus/prompts/templates/refinement/uml/fix_variables/human.txt
  janus/prompts/templates/refinement/uml/fix_variables/system.txt
Due: dummy-job

added bedrock claude sonnet 3.5 into models_info
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

updates to refinement chaining to fix errors
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

additional bug fix with refinement chain
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add one-shot prompt
  janus/prompts/templates/partition/human.txt
  janus/prompts/templates/partition/variables.json
Due: dummy-job

added additional help documentation to cli
  janus/cli.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

updated fix parser excpetions prompt
  janus/prompts/templates/refinement/fix_exceptions/human.txt
Due: dummy-job

Path conditions:
  flake8: any of: **/*.py, poetry.lock, .flake8
  black: any of: **/*.py, poetry.lock
  isort: any of: **/*.py, poetry.lock
  bandit: any of: **/*.py, poetry.lock
  coverage: any of: **/*.py, poetry.lock
  test-pages: any of: **/*.py, docs/**/*, poetry.lock, pyproject.toml, README.md
  test-release: any of: **/*.py, poetry.lock, pyproject.toml
  dummy-job: any of: .github/workflows/**/*, .gitlab-ci.yml, janus/prompts/templates/**/*, **/*.md
