Repository janus-llm/janus-llm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Path conditions:
  flake8: any of: **/*.py, poetry.lock, .flake8
  black: any of: **/*.py, poetry.lock
  isort: any of: **/*.py, poetry.lock
  bandit: any of: **/*.py, poetry.lock
  coverage: any of: **/*.py, poetry.lock
  test-pages: any of: **/*.py, docs/**/*, poetry.lock, pyproject.toml, README.md
  test-release: any of: **/*.py, poetry.lock, pyproject.toml
  dummy-job: any of: .github/workflows/**/*, .gitlab-ci.yml, janus/prompts/templates/**/*, **/*.md

Add active usings to context tags
  janus/language/alc/alc.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

work on adding a CLI flag, even though maybe better to try to auto-detect instead
  janus/cli.py
  janus/converter/converter.py
  scripts/alc_preprocessor/samples/alc_listing.asm
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

listing bugfix
  janus/converter/converter.py
  janus/language/alc/alc.py
  janus/language/naive/simple_ast.py
  janus/prompts/templates/requirements_section_tag/human.txt
  janus/prompts/templates/requirements_section_tag/system.txt
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

refiner workaround
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

saving progress off
  janus/converter/converter.py
  janus/prompts/templates/requirements/human.txt
  scripts/alc_preprocessor/config.json
  scripts/alc_preprocessor/preprocessor.py
  scripts/alc_preprocessor/samples/alc_listing.asm
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

fixed remaining hardcoded ALC with diagram prompt
  janus/prompts/templates/diagram/human.txt
Due: dummy-job

Bump version to 3.3.1
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

context additions working
  janus/converter/converter.py
  janus/prompts/templates/requirements/human.txt
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Correctly place context into system prompt
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

update CLI per Chris' rec
  janus/cli.py
  janus/converter/converter.py
  janus/language/naive/simple_ast.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

cleanup
  janus/converter/converter.py
  janus/language/alc/alc.py
  janus/prompts/templates/requirements/human.txt
  janus/prompts/templates/requirements_section_tag/human.txt
  janus/prompts/templates/requirements_section_tag/system.txt
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

refiner fix
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Cleaner way to add section context tags
  janus/language/alc/alc.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

type hints
  janus/converter/converter.py
  janus/converter/requirements.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

remove old debug log
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix JanusParser inheritance structure
  janus/converter/converter.py
  janus/parsers/code_parser.py
  janus/parsers/doc_parser.py
  janus/parsers/eval_parser.py
  janus/parsers/parser.py
  janus/parsers/refiner_parser.py
  janus/parsers/reqs_parser.py
  janus/parsers/uml.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add Partitioner, PartitionParser, partition prompt, and partition CLI command
  janus/cli.py
  janus/converter/__init__.py
  janus/converter/converter.py
  janus/converter/partition.py
  janus/parsers/partition_parser.py
  janus/prompts/templates/partition/human.txt
  janus/prompts/templates/partition/system.txt
  janus/prompts/templates/partition/variables.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

alc docstring update
  janus/language/alc/alc.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Added reasoning and updated gpt version to 4o
  janus/cli.py
  janus/prompts/templates/evaluate/variables.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Code Cleanup -corrected dirs, added initial read me, removed extra files + unecessary comments
  janus/_tests/incose_tests/EvalReadMe.md
  janus/_tests/incose_tests/L8WAIT_incose_test_stripped.json
  janus/_tests/incose_tests/incose_stripper_individual.py
  janus/_tests/incose_tests/incose_stripper_set.py
  janus/_tests/incose_tests/input/L8WAIT_incose_test_stripped.json
  janus/_tests/incose_tests/input/Large.json
  janus/_tests/incose_tests/input/Multi.json
  janus/_tests/incose_tests/input/Small.json
  janus/cli.py
  janus/converter/evaluate.py
  janus/parsers/eval_parser.py
  janus/parsers/eval_parsers/incose_parser.py
  janus/prompts/templates/eval_prompts/incose/human.txt
  janus/prompts/templates/eval_prompts/incose/system.txt
  janus/prompts/templates/eval_prompts/incose/variables.json
  janus/prompts/templates/evaluate/variables.json
  janus/prompts/templates/incose/incose-individual/incose-c1-necessary.txt
  janus/prompts/templates/incose/incose-individual/incose-c2-appropriate.txt
  janus/prompts/templates/incose/incose-individual/incose-c3-unambiguous.txt
  janus/prompts/templates/incose/incose-individual/incose-c4-complete.txt
  janus/prompts/templates/incose/incose-individual/incose-c5-singular.txt
  janus/prompts/templates/incose/incose-individual/incose-c6-feasible.txt
  janus/prompts/templates/incose/incose-individual/incose-c7-verifiable.txt
  janus/prompts/templates/incose/incose-individual/incose-c8-correct.txt
  janus/prompts/templates/incose/incose-individual/incose-c9-conforming.txt
  janus/prompts/templates/incose/incose-set/incose-c10-complete.txt
  janus/prompts/templates/incose/incose-set/incose-c11-consistent.txt
  janus/prompts/templates/incose/incose-set/incose-c12-feasible.txt
  janus/prompts/templates/incose/incose-set/incose-c13-comprehensible.txt
  janus/prompts/templates/incose/incose-set/incose-c14-abletobevalidated.txt
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Limit partition lengths
  janus/cli.py
  janus/converter/partition.py
  janus/parsers/partition_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix error about input format instructions
  janus/parsers/parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

[WIP] added beginning of aggregator class
  janus/converter/aggregator.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Implement get_format_instructions()
  janus/parsers/parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Use parsed input
  janus/converter/converter.py
  janus/converter/diagram.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added grade level scores for flesch and gunning-fog
  janus/metrics/reading.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 3.3.2
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

updated prompt
  janus/prompts/templates/basic_refinement/human.txt
Due: dummy-job

updated basic refiner to not use nested prompts
  janus/parsers/refiner_parser.py
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update logging and docstrings in simple_ast.py
  janus/language/naive/simple_ast.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Remove unused function
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add parse method to JanusParser
  janus/parsers/parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

New make additions function
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Context flag in CLI
  janus/cli.py
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 3.4.0
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Added output and input array length check
  janus/_tests/incose_tests/input/Multi.json
  janus/_tests/incose_tests/input/Small.json
  janus/cli.py
  janus/parsers/eval_parsers/incose_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Use model_id instead of model_name in BasicRefiner
  janus/converter/converter.py
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

add check to array size
  janus/parsers/eval_parsers/incose_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added flag for disabling refinement behavior
  janus/cli.py
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

wrote first draft of aggregator recursive code
  janus/converter/aggregator.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release
