Repository janus-llm/janus-llm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Path conditions:
  flake8: any of: **/*.py, poetry.lock, .flake8
  black: any of: **/*.py, poetry.lock
  isort: any of: **/*.py, poetry.lock
  bandit: any of: **/*.py, poetry.lock
  coverage: any of: **/*.py, poetry.lock
  test-pages: any of: **/*.py, docs/**/*, poetry.lock, pyproject.toml, README.md
  test-release: any of: **/*.py, poetry.lock, pyproject.toml
  dummy-job: any of: .github/workflows/**/*, .gitlab-ci.yml, janus/prompts/templates/**/*, **/*.md

Update translating page in docs
  docs/source/translating.md
Due: test-pages, dummy-job

Update documentation
  docs/source/adding_to_db.md
  docs/source/documenting.md
  docs/source/index.rst
  docs/source/quickstart.md
  docs/source/translating.md
Due: test-pages, dummy-job

Enhance documentation for summary and requirement generation with detailed output examples
  docs/source/documenting.md
Due: test-pages, dummy-job

Update llm_add prompts for token limits and add model_id placeholder
  janus/cli/llm.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.4.1
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update README and add evaluating documentation
  README.md
  docs/source/evaluating.md
  docs/source/quickstart.md
Due: test-pages, dummy-job

Bump version to 4.4.2
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Enhance documentation: add multi-stage pipelines and JSON output details
  docs/source/index.rst
  docs/source/janus_json.md
  docs/source/pipelines.md
  docs/source/quickstart.md
Due: test-pages, dummy-job

various bug fixes and updates
  janus/converter/chain.py
  janus/converter/converter.py
  janus/converter/document.py
  janus/converter/evaluate.py
  janus/language/block.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fixed issues with failure detection/logging in converter chains
  janus/converter/chain.py
  janus/converter/converter.py
  janus/converter/document.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update pipelines doc page
  docs/source/pipelines.md
Due: test-pages, dummy-job

Fix variable name for janus inputs in ConverterChain class
  janus/converter/chain.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Rename output directory option from '--output-dir' to '--output' in CLI scripts
  janus/cli/aggregate.py
  janus/cli/diagram.py
  janus/cli/document.py
  janus/cli/partition.py
  janus/cli/pipeline.py
  janus/cli/self_eval.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add initial translate.json configuration for Translator pipeline
  pipelines/comment_eval.json
  pipelines/diagram.json
  pipelines/document_diagram.json
  pipelines/translate.json
Due: none

Fix output directory flags in documentation examples
  docs/source/documenting.md
  docs/source/evaluating.md
  docs/source/reading_binaries.md
Due: test-pages, dummy-job

Update pipeline example in documentation to reflect changes in component type and command usage
  docs/source/pipelines.md
Due: test-pages, dummy-job

Add new converter and evaluator types to pipelines documentation
  docs/source/pipelines.md
Due: test-pages, dummy-job

Bump version to 4.4.3
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added block types and labels for setting converter inputs
  janus/converter/chain.py
  janus/converter/converter.py
  janus/converter/evaluate.py
  janus/language/block.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

[WIP] fixed minor edge case in translate_blocks if was a nested list
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Remove LLM metrics module and associated evaluation functions
  janus/metrics/llm_metrics.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix code block syntax in documentation to use bash instead of shell
  docs/source/adding_to_db.md
  docs/source/documenting.md
  docs/source/evaluating.md
  docs/source/index.rst
  docs/source/janus_json.md
  docs/source/pipelines.md
  docs/source/quickstart.md
  docs/source/reading_binaries.md
  docs/source/translating.md
Due: test-pages, dummy-job

Remove LLM metrics test file and associated test cases
  janus/metrics/_tests/test_llm.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.4.4
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update pipelines documentation to include links for converter and evaluator types
  docs/source/pipelines.md
Due: test-pages, dummy-job

Fix typo in documentation for configuring pipelines
  docs/source/index.rst
Due: test-pages

Update Sphinx configuration to use Janus version for release information
  docs/source/conf.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update GitLab CI configuration to install documentation dependencies
  .gitlab-ci.yml
Due: dummy-job

Update GitHub Actions workflow to install all dependencies for documentation build
  .github/workflows/pages.yml
Due: dummy-job

refactored code to have everything go through translate_block(s)
  janus/converter/chain.py
  janus/converter/converter.py
  janus/converter/evaluate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.4.5
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

[WIP] have a prototype of the converter pool working
  janus/cli/pipeline.py
  janus/converter/__init__.py
  janus/converter/chain.py
  janus/converter/converter.py
  janus/language/block.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

[WIP] minor additional update/bugfix
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

[WIP] added missing files
  janus/converter/pool.py
  janus/pipelines/document_comment_parallel.json
  janus/prompts/templates/extract_variables/human.txt
  janus/prompts/templates/extract_variables/system.txt
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Add diagramming documentation
  docs/source/diagramming.md
  docs/source/index.rst
  docs/source/janus_json.md
Due: test-pages, dummy-job

Enhance diagramming documentation and introduce refiners guide
  docs/source/diagramming.md
  docs/source/index.rst
  docs/source/refiners.md
Due: test-pages, dummy-job

Add docker tag to bump-version job in CI configuration
  .gitlab-ci.yml
Due: dummy-job

Update logo image URL in README to use raw GitHub content
  README.md
Due: test-pages, dummy-job

Refactor model information to include OpenAI model routes and update constructors
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release
