Repository janus-llm/janus-llm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Path conditions:
  flake8: any of: **/*.py, poetry.lock, .flake8
  black: any of: **/*.py, poetry.lock
  isort: any of: **/*.py, poetry.lock
  bandit: any of: **/*.py, poetry.lock
  coverage: any of: **/*.py, poetry.lock
  test-pages: any of: **/*.py, docs/**/*, poetry.lock, pyproject.toml, README.md
  test-release: any of: **/*.py, poetry.lock, pyproject.toml
  dummy-job: any of: .github/workflows/**/*, .gitlab-ci.yml, janus/prompts/templates/**/*, **/*.md

Add help string for new splitter kwarg
  janus/language/splitter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fix spelling again
  janus/prompts/templates/source_and_requirements_to_java/human.txt
  janus/prompts/templates/source_and_requirements_to_java/system.txt
Due: dummy-job

Bump version to 5.0.1
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fixed minor bug with output paths
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 5.1.0
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added retriever to retrieve alc opcodes
  janus/retrievers/alc_retriever.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fix pydantic v2 parsing for list output
  janus/parsers/eval_parsers/java_category_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

keep list nesting logic from before
  janus/parsers/eval_parsers/java_category_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

adding java cat eval pipeline for mr testing
  pipelines/java_cat_eval.json
Due: none

fix static analysis linters
  janus/parsers/eval_parsers/java_category_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

use JsonParser instead of regex to find llm response
  janus/parsers/eval_parsers/java_category_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fix for static analysis
  janus/parsers/eval_parsers/java_category_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Deconflict block reference dict and groupless block tracking
  janus/converter/merge.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added openai mchat bugfix to this overloaded mr
  janus/llm/model_callbacks.py
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added unit tests
  janus/retrievers/_tests/op_codes.json
  janus/retrievers/_tests/test_alc.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fixed new unit test
  janus/retrievers/_tests/test_alc.py
  janus/retrievers/alc_retriever.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

updated cli and diagram prompts to include context
  janus/cli/diagram.py
  janus/cli/document.py
  janus/cli/translate.py
  janus/converter/converter.py
  janus/prompts/templates/diagram/human.txt
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

added docs for retrievers
  docs/source/retrievers.md
Due: test-pages, dummy-job

added full op code file
  janus/converter/converter.py
  janus/language/alc/IBM_Assembly_Operations.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Apply 1 suggestion(s) to 1 file(s)
  janus/language/alc/alc.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add max-tokens arg to janus pipeline
  janus/cli/pipeline.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add simple ast splitter logic for ALC, ast-data splitter type
  janus/language/alc/alc.py
  janus/language/naive/simple_ast.py
  janus/utils/enums.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix unit tests (new ALC splitter is necessary)
  janus/language/alc/alc.py
  janus/utils/enums.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

removed old comment from unit tests
  janus/retrievers/_tests/test_alc.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 5.2.0
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

WIP: make relationship to JsonParser is-a not has-a
  janus/parsers/eval_parsers/java_category_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Duplicate enum info from ibmhlasm to ibmhlasm-ts
  janus/utils/enums.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 5.2.1
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Use built-in methods of JsonParser
  janus/parsers/eval_parsers/java_category_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix static analysis issues
  janus/llm/model_callbacks.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

new grader working with pipeline outputs
  scripts/quiz_grade.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bugfix/undeprecate partition
  janus/language/binary/reveng/decompile_script.py
  janus/llm/models_info.py
  janus/parsers/partition_parser.py
  janus/prompts/templates/partition/human.txt
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Bump version to 5.2.2
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

remove unnecessary source language version from prompt
  janus/prompts/templates/quiz/quiz_generator/system.txt
Due: dummy-job

added link to op code webpage in docs
  docs/source/retrievers.md
Due: test-pages, dummy-job

Fix linting and pre-commit errors
  .gitignore
  janus/prompts/templates/source_and_diagrams_to_java/system.txt
  janus/prompts/templates/source_and_four_irs_to_java/system.txt
  janus/prompts/templates/source_and_pseudocode_to_java/system.txt
  janus/prompts/templates/source_and_requirements_to_java/system.txt
  janus/prompts/templates/source_and_summary_to_java/system.txt
  scripts/quiz_grade.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Allow tree-sitter splitters to skip merging (for testing purposes)
  janus/language/alc/alc.py
  janus/language/treesitter/treesitter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Switch to using JsonParser
  janus/parsers/quiz_gen_parser.py
  janus/parsers/quiz_taker_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Avoid null block labels
  janus/converter/chain.py
  janus/language/block.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fixed issue with finding comment lines
  janus/retrievers/alc_retriever.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release
