Repository janus-llm/janus-llm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

flake8:
  stage: Static Analysis
  tags:
  - docker
  script:
  - poetry install --only dev
  - poetry run flake8 --config=.flake8 .
  needs: []

black:
  stage: Static Analysis
  tags:
  - docker
  script:
  - poetry install --only dev
  - poetry run black --check --config pyproject.toml ./
  needs: []

isort:
  stage: Static Analysis
  tags:
  - docker
  script:
  - poetry install --only dev
  - poetry run isort --check --profile black --trailing-comma -m=3 .
  needs: []

bandit:
  stage: Security
  tags:
  - docker
  script:
  - poetry install --only dev
  - poetry run bandit -c pyproject.toml -r .
  needs: []

coverage:
  stage: Tests
  tags:
  - docker
  variables:
    GIT_SSL_NO_VERIFY: '1'
    REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
    SSL_CERT_FILE: /etc/ssl/certs/ca-certificates.crt
    NODE_EXTRA_CA_CERTS: /etc/ssl/certs/ca-certificates.crt
  script:
  - poetry install --with coverage --all-extras
  ...

test-pages:
  script:
  - poetry install --only docs
  - poetry run sphinx-build -d docs/build/doctrees docs/source docs/build/html
  - mv docs/build/html public/
  stage: Documentation
  tags:
  - docker
  needs: []
  artifacts:
    expose_as: HTML Documentation
    paths:
    - public/
    expire_in: 1 week

test-release:
  stage: Release
  tags:
  - docker
  script:
  - poetry build
  - poetry run pip install -U dist/*.whl
  - rm -rf janus
  - poetry run python tests/package.py
  needs: []

dummy-job:
  stage: Dummy
  tags:
  - docker
  script:
  - echo "Dummy CI Job"
  needs: []

Fix isort errors
  janus/prompts/templates/refinement/continuation/human.txt
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Bump version to 4.5.6
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add model_long_id to LLM configuration and remove deprecated message
  janus/cli/llm.py
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.5.7
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.5.8
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Quiz generation working, quiz taking in progress.
  janus/converter/quiz_generator.py
  janus/converter/quiz_taker.py
  janus/parsers/quiz_gen_parser.py
  janus/parsers/quiz_taker_parser.py
  janus/prompts/templates/quiz/quiz_generator/human.txt
  janus/prompts/templates/quiz/quiz_generator/system.txt
  janus/prompts/templates/quiz/quiz_taker/human.txt
  janus/prompts/templates/quiz/quiz_taker/system.txt
  scripts/quiz_script.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

wip
  janus/cli/self_eval.py
  janus/converter/evaluate.py
  janus/parsers/eval_parsers/uml_parser.py
  janus/prompts/templates/eval_prompts/uml/human.txt
  janus/prompts/templates/eval_prompts/uml/system.txt
  janus/prompts/templates/eval_prompts/uml/variables.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Add _translation_chain to _load_chain _run_if_changed
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.5.9
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Added input and output handling and source code context. Improved output parsers. Added script to grade and output results as csv.
  janus/converter/quiz_taker.py
  janus/parsers/quiz_gen_parser.py
  janus/parsers/quiz_taker_parser.py
  janus/prompts/templates/quiz/quiz_generator/human.txt
  janus/prompts/templates/quiz/quiz_taker/human.txt
  scripts/quiz_grade.py
  scripts/quiz_script.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Refactor converter.py to remove the run_if_changed paradigm
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

wip
  janus/converter/evaluate.py
  janus/llm/models_info.py
  janus/parsers/eval_parsers/uml_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

minor cleanup
  janus/converter/quiz_taker.py
  janus/parsers/quiz_gen_parser.py
  janus/parsers/quiz_taker_parser.py
  scripts/quiz_script.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add tokenizer CLI commands for downloading tokenizers
  janus/cli/cli.py
  janus/cli/tokenizer.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.5.10
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add pseudocode generation to janus document
  docs/source/pipelines.md
  janus/cli/document.py
  janus/converter/document.py
  janus/prompts/templates/pseudocode/human.txt
  janus/prompts/templates/pseudocode/system.txt
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Fix formatting
  janus/cli/document.py
  janus/converter/document.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Typing fixes
  janus/converter/converter.py
  janus/refiners/format.py
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add JanusModel fields
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

works for small test set
  janus/cli/self_eval.py
  janus/converter/evaluate.py
  janus/parsers/eval_parsers/uml_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fixed bug for multiple diagrams
  janus/parsers/eval_parsers/uml_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fixed to pass static analysis
  janus/converter/quiz_generator.py
  janus/converter/quiz_taker.py
  janus/parsers/quiz_gen_parser.py
  janus/parsers/quiz_taker_parser.py
  janus/prompts/templates/quiz/quiz_generator/human.txt
  janus/prompts/templates/quiz/quiz_generator/system.txt
  janus/prompts/templates/quiz/quiz_taker/human.txt
  janus/prompts/templates/quiz/quiz_taker/system.txt
  scripts/quiz_grade.py
  scripts/quiz_script.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

fixed formatting
  janus/cli/self_eval.py
  janus/converter/evaluate.py
  janus/llm/models_info.py
  janus/parsers/eval_parsers/uml_parser.py
  janus/prompts/templates/eval_prompts/uml/system.txt
  janus/prompts/templates/eval_prompts/uml/variables.json
  scripts/combine_comment_jsons.py
  scripts/comment-generation-experiment/mumps_alc_comment_experiment.py
  scripts/preprocessing/self-eval/comments/split_processed_comments.py
  scripts/preprocessing/self-eval/incose/split_processed_requirements.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Added the self eval code summary prompts; variables.json WIP
  janus/prompts/templates/eval_prompts/summary/human.txt
  janus/prompts/templates/eval_prompts/summary/system.txt
  janus/prompts/templates/eval_prompts/summary/variables.json
Due: dummy-job

forgot to uncomment some stuff
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

black version diffs
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update Converter subclasses
  janus/converter/aggregator.py
  janus/converter/converter.py
  janus/converter/diagram.py
  janus/converter/document.py
  janus/converter/evaluate.py
  janus/converter/partition.py
  janus/converter/passthrough.py
  janus/converter/pool.py
  janus/converter/requirements.py
  janus/converter/translate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update LICENSE
  LICENSE
Due: none

Add unit test for pseudocode documenter
  janus/converter/_tests/test_document.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fixes for static analysis
  janus/converter/_tests/test_document.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add support for Granite model in LLM CLI and add missing Mistral model to COST dictionary
  janus/cli/llm.py
  janus/llm/model_callbacks.py
  test_print.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add tests for adding LLM models: Azure, BedrockChat, and Granite
  janus/_tests/test_cli.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Remove test file that was not meant to be added
  test_print.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

more formatting
  docs/source/evaluating.md
  janus/cli/_tests/test_self_eval.py
  janus/converter/_tests/test_evaluate.py
  janus/converter/evaluate.py
  janus/parsers/_tests/test_eval_parser.py
  janus/parsers/eval_parsers/__init__.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Bump version to 4.5.11
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Implemented Summary Parser
  janus/parsers/eval_parsers/summary_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Implemented Summary evaluator
  janus/converter/evaluate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Added summary to self eval cli
  janus/cli/self_eval.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Formatted with the pre-commit hooks
  janus/cli/self_eval.py
  janus/converter/evaluate.py
  janus/parsers/eval_parsers/summary_parser.py
  janus/prompts/templates/eval_prompts/summary/variables.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Path conditions:
  flake8: any of: **/*.py, poetry.lock, .flake8
  black: any of: **/*.py, poetry.lock
  isort: any of: **/*.py, poetry.lock
  bandit: any of: **/*.py, poetry.lock
  coverage: any of: **/*.py, poetry.lock
  test-pages: any of: **/*.py, docs/**/*, poetry.lock, pyproject.toml, README.md
  test-release: any of: **/*.py, poetry.lock, pyproject.toml
  dummy-job: any of: .github/workflows/**/*, .gitlab-ci.yml, janus/prompts/templates/**/*, **/*.md
