Repository janus-llm/janus-llm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Path conditions:
  flake8: any of: **/*.py, poetry.lock, .flake8
  black: any of: **/*.py, poetry.lock
  isort: any of: **/*.py, poetry.lock
  bandit: any of: **/*.py, poetry.lock
  coverage: any of: **/*.py, poetry.lock
  test-pages: any of: **/*.py, docs/**/*, poetry.lock, pyproject.toml, README.md
  test-release: any of: **/*.py, poetry.lock, pyproject.toml
  dummy-job: any of: .github/workflows/**/*, .gitlab-ci.yml, janus/prompts/templates/**/*, **/*.md

Allow for boto3 imports to fail
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update saved unit test objects to match output format
  janus/converter/_tests/fortran.json
  janus/converter/_tests/ibmhlasm.json
  janus/converter/_tests/test_document.py
  janus/converter/_tests/test_evaluate.py
  janus/converter/_tests/test_translate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update parser tests to use standardized object key
  janus/parsers/_tests/test_eval_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

justin wip
  janus/converter/converter.py
  janus/converter/merge.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix QuizTakerParser
  janus/parsers/quiz_taker_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Input objects are now dicts, not JSON strings
  janus/parsers/quiz_taker_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

working for simple tests
  janus/converter/__init__.py
  janus/converter/merge.py
  janus/prompts/templates/eval_prompts/java_category/system.txt
  janus/prompts/templates/eval_prompts/java_category/variables.json
  janus/prompts/templates/output_merge_testing/human.txt
  janus/prompts/templates/output_merge_testing/system.txt
  pipelines/outputmerger_translation_test.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

removed print statement
  janus/converter/merge.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix permission denied on Windows due to temporary file already being opened
  janus/parsers/uml.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

simple tests for output merger
  janus/converter/_tests/test_translate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

update grading script to handle refactored janus output structure
  scripts/quiz_grade.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Account for offset in line numbers added
  janus/converter/converter.py
  janus/language/block.py
  janus/parsers/eval_parsers/java_category_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Test JavaCategoryEval line numbers
  janus/converter/_tests/test_evaluate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add script to nicely format outputs
  scripts/postprocessing/extract_code_from_json.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Remove ChunkCombiner (obsolete)
  janus/converter/requirements.py
  janus/language/combine.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix line/character counting logic
  janus/converter/converter.py
  janus/language/block.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

pseudocode support in self eval + pipeline for roundtrip in default pipelines
  janus/cli/self_eval.py
  janus/converter/evaluate.py
  janus/parsers/eval_parsers/pseudocode_parser.py
  janus/prompts/templates/eval_prompts/pseudocode/human.txt
  janus/prompts/templates/eval_prompts/pseudocode/system.txt
  janus/prompts/templates/pseudocode_to_java/human.txt
  janus/prompts/templates/pseudocode_to_java/system.txt
  pipelines/roundtrip_matrix.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

updated unit tests for pseudocode evaluator
  janus/converter/_tests/test_evaluate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

add text for pseudocode option to cli help message
  janus/cli/self_eval.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

updated llm self eval example command in docs
  docs/source/evaluating.md
Due: test-pages, dummy-job

bug fixes in progress, not yet working
  janus/converter/quiz_generator.py
  janus/parsers/quiz_taker_parser.py
  janus/prompts/templates/quiz/quiz_generator/human.txt
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

fix unit test input type label
  janus/converter/_tests/test_evaluate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fix for unit tests
  janus/converter/_tests/test_evaluate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add model_id retrieval from response_metadata in TokenUsageCallbackHandler
  janus/llm/model_callbacks.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

another fix for unit testing
  janus/converter/_tests/test_evaluate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Refactor InlineCommentParser to initialize comments as an empty dictionary
  janus/parsers/eval_parsers/inline_comment_parser.py
  janus/parsers/eval_parsers/java_category_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.5.18
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fix formatting in LLM self evaluation section of documentation
  docs/source/evaluating.md
Due: test-pages, dummy-job

Update class docstring for PseudocodeEvaluator
  janus/converter/evaluate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.6.0
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix embedding conversion to list in db_ls command and update import for BaseModel in PseudocodeParser
  janus/cli/database.py
  janus/parsers/eval_parsers/pseudocode_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.6.1
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fixed render command
  janus/cli/diagram.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update 4 files
  janus/prompts/templates/quiz/quiz_generator/human.txt
  janus/prompts/templates/quiz/quiz_generator/system.txt
  janus/prompts/templates/quiz/quiz_taker/human.txt
  janus/prompts/templates/quiz/quiz_taker/system.txt
Due: dummy-job

Remove discussion field from generated quiz to provide the quiz for taking
  janus/parsers/quiz_taker_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fixed missing comma and quotation mark in example output format
  janus/prompts/templates/quiz/quiz_generator/human.txt
Due: dummy-job

Update print statement to use rich in diagram.py
  janus/cli/diagram.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add tree-sitter-cli installation to CI before_script
  .gitlab-ci.yml
Due: dummy-job

Install tree-sitter-cli via npm in the coverage job and remove from apt install
  .gitlab-ci.yml
Due: dummy-job

Rename OutputMergerTranslator to MergedOutputTranslator for clarity
  janus/converter/__init__.py
  janus/converter/_tests/test_translate.py
  janus/converter/merge.py
  pipelines/outputmerger_translation_test.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release
