Repository janus-llm/janus-llm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Path conditions:
  flake8: any of: **/*.py, poetry.lock, .flake8
  black: any of: **/*.py, poetry.lock
  isort: any of: **/*.py, poetry.lock
  bandit: any of: **/*.py, poetry.lock
  coverage: any of: **/*.py, poetry.lock
  test-pages: any of: **/*.py, docs/**/*, poetry.lock, pyproject.toml, README.md
  test-release: any of: **/*.py, poetry.lock, pyproject.toml
  dummy-job: any of: .github/workflows/**/*, .gitlab-ci.yml, janus/prompts/templates/**/*, **/*.md

set default output_type for converters
  janus/converter/chain.py
  janus/converter/converter.py
  janus/converter/diagram.py
  janus/converter/document.py
  janus/converter/evaluate.py
  janus/converter/partition.py
  janus/converter/requirements.py
  janus/pipelines/comment_eval.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added refiner support to pipeline
  janus/converter/converter.py
  pipelines/comment_eval.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

some minor updates and bug fixes ahead of demo
  janus/converter/chain.py
  janus/converter/converter.py
  janus/converter/evaluate.py
  janus/converter/pool.py
  janus/language/block.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added converter passthrough for passing codeblocks forward
  janus/converter/__init__.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

[WIP] added code to handle using pipline as janus input
  janus/converter/chain.py
  janus/converter/converter.py
  janus/converter/pool.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added pipeline examples
  janus/pipelines/converter_passthrough.json
  janus/pipelines/converter_pool.json
  janus/pipelines/converter_pool_chain.json
  janus/pipelines/input_labels.json
  janus/pipelines/input_types.json
Due: none

bug fixes and added passthrough file
  janus/cli/pipeline.py
  janus/converter/chain.py
  janus/converter/converter.py
  janus/converter/passthrough.py
  janus/converter/pool.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

removed assert and added comments
  janus/converter/chain.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

fixed unit tests
  janus/converter/_tests/test_translate.py
  janus/converter/converter.py
  janus/language/_tests/test_combine.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Remove debug print statement from pipeline instantiation
  janus/cli/pipeline.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add documentation for using refiners in pipeline configuration
  docs/source/refiners.md
Due: test-pages, dummy-job

Bump version to 4.4.6
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add documentation for ConverterPool features, including input types and labels
  docs/source/pipelines.md
  janus/converter/converter.py
  pipelines/input_labels.json
  pipelines/input_types.json
  pipelines/requirements.json
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Remove debug print statement from Converter class
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.4.7
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.5.0
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Resolve "Update documentation for onboarding"
  docs/source/diagramming.md
  docs/source/documenting.md
  docs/source/evaluating.md
  docs/source/quickstart.md
  docs/source/translating.md
Due: test-pages, dummy-job

Add CodeContinuationRefiner, IncompleteCodeParser
  janus/converter/translate.py
  janus/parsers/_tests/test_code_parser.py
  janus/parsers/code_parser.py
  janus/prompts/templates/simple/human.txt
  janus/refiners/refiner.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Add continuation prompt
  janus/prompts/templates/refinement/continuation/human.txt
  janus/prompts/templates/refinement/continuation/system.txt
Due: dummy-job

[WIP] added fixes for large inputs that get split
  janus/converter/chain.py
  janus/converter/converter.py
  janus/converter/document.py
  janus/converter/pool.py
  janus/language/block.py
  janus/language/combine.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Refactor readability metrics to use textstat library and add new tests
  janus/metrics/_tests/test_reading.py
  janus/metrics/reading.py
  poetry.lock
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add new models and update token limits for Claude, Llama, and Nova series
  janus/llm/model_callbacks.py
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Refactor ROUGE score implementation to use rouge-score library and update tests
  janus/metrics/_tests/test_rouge_score.py
  janus/metrics/rouge_score.py
  poetry.lock
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix Gunning Fog calculation by removing unnecessary multiplication factor
  janus/metrics/reading.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.5.1
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.5.2
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update text splitting method to include object string and input block name
  janus/converter/evaluate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.5.3
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

minor bug fix
  janus/language/combine.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix terminology in error messages and format instructions to use "backticks" instead of "square brackets"
  janus/parsers/_tests/test_code_parser.py
  janus/parsers/code_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Closes #270, Fix issue with target language always being json
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix error with nested requirements list and llm self eval parsing
  janus/cli/self_eval.py
  janus/converter/evaluate.py
  janus/parsers/eval_parsers/incose_parser.py
  janus/prompts/templates/eval_prompts/incose/human.txt
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Bump version to 4.5.4
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Modify models_info for public branch
  docs/source/adding_to_db.md
  docs/source/evaluating.md
  docs/source/janus_json.md
  docs/source/quickstart.md
  janus/llm/models_info.py
  janus/prompts/templates/cyclic/human.txt
  janus/prompts/templates/cyclic/system.txt
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Add granite and claude 3.7 models
  docs/source/adding_to_db.md
  docs/source/evaluating.md
  docs/source/janus_json.md
  docs/source/quickstart.md
  janus/llm/model_callbacks.py
  janus/llm/models_info.py
  janus/prompts/prompt.py
  janus/prompts/templates/cyclic/human.txt
  janus/prompts/templates/cyclic/system.txt
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Refactor model type checks to use direct references instead of string literals
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add error handling for Bedrock and HuggingFace model imports with installation instructions
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.5.5
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added chunking option to pipeline cli command
  janus/cli/pipeline.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release
