Repository janus-llm/janus-llm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Path conditions:
  flake8: any of: **/*.py, poetry.lock, .flake8
  black: any of: **/*.py, poetry.lock
  isort: any of: **/*.py, poetry.lock
  bandit: any of: **/*.py, poetry.lock
  coverage: any of: **/*.py, poetry.lock
  test-pages: any of: **/*.py, docs/**/*, poetry.lock, pyproject.toml, README.md
  test-release: any of: **/*.py, poetry.lock, pyproject.toml
  dummy-job: any of: .github/workflows/**/*, .gitlab-ci.yml, janus/prompts/templates/**/*, **/*.md

Bump version to 4.2.2
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix unit tests
  janus/language/alc/_tests/test_alc.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add regex flag to properly limit comment objects
  janus/converter/evaluate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

update incose template, added back ls command to cli, updated incose parser, scrpits, and linter
  janus/_tests/evaluator_tests/EvalReadMe.md
  janus/_tests/evaluator_tests/inline_comment_tests/mumps_inline_comment_test.m
  janus/cli.py
  janus/parsers/eval_parsers/incose_parser.py
  janus/prompts/templates/eval_prompts/incose/system.txt
  janus/prompts/templates/eval_prompts/incose/variables.json
  scripts/evaluator_scripts/incose_requirement_evaluations/incose_scripts/requirement_splitter.py
  scripts/evaluator_scripts/incose_requirement_evaluations/incose_scripts/splitter.py
  scripts/preprocessing/self-eval/comments/append_asm_comments.py
  scripts/preprocessing/self-eval/comments/append_mumps_comments.py
  scripts/preprocessing/self-eval/comments/split_processed_comments.py
  scripts/preprocessing/self-eval/incose/split_processed_requirements.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Bump version to 4.2.3
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Merge objects from multiple chunks
  janus/parsers/eval_parsers/incose_parser.py
  janus/parsers/eval_parsers/inline_comment_parser.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add argument specifying language for comment preprocessing script
  scripts/preprocessing/self-eval/comments/append_asm_comments.py
  scripts/preprocessing/self-eval/comments/append_comments.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added comments and updated readme
  janus/_tests/evaluator_tests/EvalReadMe.md
  scripts/preprocessing/self-eval/comments/append_comments.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

Bump version to 4.3.0
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add cobol language support with tree-sitter
  janus/language/treesitter/treesitter.py
  janus/utils/enums.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.3.1
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Uncomment OpenAI in models_info
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update imports for public release
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix black formatting
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update pyproject.toml
  poetry.lock
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Bump version to 4.3.2
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update chromadb and change try/except for new flag
  janus/cli.py
  janus/embedding/collections.py
  poetry.lock
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Change GitLab CI to use Python 3.12
  .gitlab-ci.yml
Due: dummy-job

Bump version to 4.3.3
  janus/__init__.py
  pyproject.toml
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Use multiple suffixes in enums.py
  janus/cli.py
  janus/converter/converter.py
  janus/utils/enums.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update target_suffix assignment to handle multiple suffixes for languages
  janus/converter/translate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Update CI to gate the longest stages behind static analysis
  .gitlab-ci.yml
Due: dummy-job

Turn all `suffix` entries into `suffixes`
  janus/utils/enums.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

added optional parameter to control proportion of token input limit in llms
  janus/cli.py
  janus/converter/converter.py
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Standardize "suffixes" across all files
  janus/cli.py
  janus/converter/converter.py
  janus/converter/translate.py
  janus/language/file.py
  janus/prompts/prompt.py
  scripts/preprocessing/self-eval/comments/append_comments.py
  scripts/run_alg_partition.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add comment explaining the LANGUAGES dict in enums.py
  janus/utils/enums.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix double quotes in translate.py
  janus/converter/translate.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Remove capitalization in db add command
  janus/cli.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Turn list comprehension in converter.py into regular for loop
  janus/converter/converter.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Add another coverage job only for main
  .gitlab-ci.yml
Due: dummy-job

Move Release before Tests in CI/CD
  .gitlab-ci.yml
Due: dummy-job

updated prop variables to say proportion instead
  janus/converter/converter.py
  janus/llm/models_info.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Change name of input_token_proportion in cli.py
  janus/cli.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

Fix typo in prompt
  janus/prompts/templates/requirements/human.txt
Due: dummy-job

added refiner for creating code output format (between tripple backticks)
  janus/prompts/templates/refinement/format/code_format/human.txt
  janus/prompts/templates/refinement/format/code_format/system.txt
  janus/refiners/format.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

added format refiner for requirements
  janus/prompts/templates/refinement/format/requirements_format/human.txt
  janus/prompts/templates/refinement/format/requirements_format/system.txt
  janus/refiners/format.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job

fixed issues with format refiner
  janus/cli.py
  janus/refiners/format.py
Due: flake8, black, isort, bandit, coverage, test-pages, test-release

removed output formats from requirements and diagram prompts
  janus/prompts/templates/requirements/human.txt
Due: dummy-job

hopefully fixed tests
  janus/converter/_tests/test_translate.py
  janus/prompts/templates/diagram/human.txt
  janus/prompts/templates/refinement/format/requirements_format/system.txt
Due: flake8, black, isort, bandit, coverage, test-pages, test-release, dummy-job
